*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: linear-gradient(white,red);
    height: 100vh;
}
.logo{
    color: rgb(155, 27, 27);
}
nav{
    display: 10px;
    justify-content: space-around;
    align-items: right;
    background-color: liner-gradient(white,red);
    height: 10vh;
    nav-left: auto;
}