#answers {
  display: flex;          
  justify-content: center;      
  flex-wrap: wrap;        
}

#answers button {
  padding: 10px;
  cursor: pointer;
}
body {
background-color: rgb(18, 87, 87);
}